{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
        <div class="container">
        <h2>About Me</h2>
        <p>I am a junior High School, i currently go to South San Francisco High School.
        I play in the Mens Volleyball team. </p>

        <h2>Hobbies</h2>
        <ul>
            <li>sloving rubix cubes</li>
            <li>sleeping</li>
            <li>watching cooking videos</li>
            <li>playing volleyball</li>
            <li>playing fortinte</li>
        </ul>

        <img src= 'static/images/spongbeb.jpg' alt='spongebob' style="width:700px;height:300px;"></img>
{% endblock %}

